	
	*{margin:0px; padding:0px;} 

	/*COLOR DE LOS LATERALES DE LA PAGINA*/
	
	/*VERDE rgb(161,194,107)*/
	/*AZUL rgb(29,102,168)*/
	/*azul claro : rgb(51,141,222)*/
	/*verde oscuro : rgb(140,168,93)*/
	/*dorado: rgb(227,197,25)*/
	/*azul flecha: rgb(126,162,243)*/
	/*azul facebook: rgb(91,112,165)*/
	/*azul twitter: rgb(65,160,220)*/
	/*rojo google: rgb(196,34,37)*/
	
	
	html{
		background-color:rgb(29,102,168);
	}
	
	body{
		font-family: 'Ubuntu', sans-serif;
		width:1200px;
		height:100%;
		margin:auto;
		border: 2px solid white;
		background-color:white;
	}    /* Color de fondo de la pagina */



	/*-----------------------------------------------------------------------------------------------------*/
	/*ESTRUCTURA DEL DOCUMENTO*/

	
	header{      /* Estilo de la cabecera, la cual engloba el logo, título y el inicio de sesión */
		background: rgb(161,194,107);
		background-image: -webkit-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -moz-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -ms-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -o-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: linear-gradient(to bottom, rgb(161,194,107), rgb(140,168,93));

		
	}	
			
	section{  /* Estilo del cuerpo de la página */
		background:white;
	}
		
	footer{    /* Estilo del pie de página */
		background: rgb(29,102,168);
		background-image: -webkit-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: -moz-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: -ms-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: -o-linear-gradient(top, rgb(29,102,168), rgb(91,112,165));
		background-image: linear-gradient(to bottom, rgb(29,102,168), rgb(91,112,165));	
		color:white;
		text-align: center;
		font-size:12px;		
		padding:25px;
	}
	
	/*---------------------------------------------------------------------------------------------------*/
	
	
	

	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DE LA CABECERA*/
	
	/*ESTILO DE LA CABECERA*/
	
	#cabecera-logo, #cabecera-sesion {
		display:inline-block;
	}
	
		/*---------------------------------------------------------------------------------------------------*/
		/*ESTILO DEL LOGO DE LA CABECERA*/
	
		
			#cabecera-logo, #cabecera-sesion, nav {
				display:inline-block;
			}

				/*---------------------------------------------------------------------------------------------------*/
				/*ESTILO DEL LOGO DE LA CABECERA*/


					#cabecera-logo {
						width:270px;
						padding:16px 40px;
						position:relative;
						top:4px;
					}

					header a {
						text-decoration:none;
					}

					header .cabecera {
						display:inline;
					}

					header img.cabecera {
						width:44px;
						height:63px;
					}

					header h1 {
						font-family: 'Ubuntu', sans-serif;
						color:white;
						position:relative;
						padding-left:10px;
						top:-14px;
						font-size:50px;
					}

				/*----------------------------------------------------------------------------------------------*/
				nav {
					position:relative;
					padding:20px;
					width:330px;
					float:center;
					top:-20px;
					left:150px;
				}
				nav ul {
					position:relative;
					width:100%;
					font-size:20px;
				}
				nav ul li{
					display:inline;
					margin:20px;
				}
				nav ul #menu-ofertas a{
					color:rgb(29,102,168);
				}

				nav ul #menu-empresa a{
					color:white;
				}

				nav ul #menu-empresa a:hover{
					color:rgb(227,197,25);
				}


				/*----------------------------------------------------------------------------------------------*/
				/*ESTILO DEL INICIO DE SESION DE LA CABECERA*/

					#cabecera-sesion { /*div que engloba todo*/
						padding:16px 10px 16px 10px;
						background: rgb(161,194,107);
						background-image: -webkit-linear-gradient(top, rgb(140,168,93), #71874C);
						background-image: -moz-linear-gradient(top, rgb(140,168,93), #71874C);
						background-image: -ms-linear-gradient(top, rgb(140,168,93), #71874C);
						background-image: -o-linear-gradient(top, rgb(140,168,93), #71874C);
						background-image: linear-gradient(to bottom, rgb(140,168,93), #71874C);
						border-left:white solid 2px;
						width:220px;		
						position:relative;
						float:right;		
					}

					#cabecera-sesion img:first-child { /*imagen de la empresa*/
						width:65px;
						height:65px;
						border-radius:50px;
						border:white solid 2px;
						z-index:1;
					}

					img.cabecera-sesion,  #cabecera-sesion-men{ /*Imagen y nombre de la empresa*/
						display:inline-block;
					}

					p.cabecera-sesion { /*Nombre de la empresa*/
						color:white;
						font-size:18px;
					}

					#cabecera-sesion-men{
						float:right;
						position:absolute;	
						margin:30px 0 0px 15px ;
						color:white;
						top:0;
					}

					#cabecera-sesion-men a {
						font-size:14px;
						color:white;
					 	text-decoration: underline;

					}

					#cabecera-sesion-men a:hover {
						color:rgb(227,197,25);
					}
		
		/*----------------------------------------------------------------------------------------------*/
		
		
		

		
	
	/*---------------------------------------------------------------------------------------------------*/

	


	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DEL MENU*/

		
	
	/*---------------------------------------------------------------------------------------------------*/




	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DEL PIE DE PAGINA*/
	
	ul#pie li {  /* Pie de página horizontal */
		display: inline;
	}

	ul#pie li a:link, ul#pie li a:visited{  /* Color de los links del pie de página */
		color:white;
		padding-left:10px;	
	}
	
	ul#pie li a:hover {/* Color de los links del pie de página cuando pasas el cursor */
		color:rgb(227,197,25);	
	}

	/*---------------------------------------------------------------------------------------------------*/






	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DE MI EMPRESA */
	
	
		
	#mi-empresa, #seguidores {
		display:inline-table;
	}
	
	#mi-empresa {
		min-height:700px;
		width:958px;
		border-rigth: solid white 1px;
		background-color:rgba(126,162,243,0.1);

	}
	
	#mi-empresa > h4 {
		margin-top:30px;
		color:rgb(91,112,165);
		text-align:center;
		font-size:40px;
	}
	
	#ofertas {
		width:100%;
		margin:20px 0;
	
	}
	
	#ofertas ul li {
		border-top: solid 2px rgba(81,81,81,0.2);
		padding-top:12px;
		margin: 10px 0;
		list-style: none;
		height:117px;
	}
	
	.ofertas-descripcion, .ofertas-seguidores, .ofertas-edicion {
		display:inline-block;
	}
	
		/*----------------------------------------------------------------------------------------*/
		/*DESCRIPCION DE LA OFERTA*/
		
		.ofertas-descripcion {
			width:60%;
			font-size:12px;
			margin:0;
			padding-left:10px;
		}
		
		.ofertas-titulo {
			color: rgb(81,81,81);
			font-size: 14px;
		}
		
		.ofertas-empresa {
			font-size:14px;
			color:rgb(91,112,165);
		}
		
		.ofertas-empresa, .ofertas-lugar {
			margin-top:5px;
			display:inline;
		}
		
		.ofertas-lugar {
			margin-left:15px;
		}
		
		.ofertas-resumen {
			height:52px;
			max-width:550px;
			margin:10px 0;
			overflow:auto;
		}
		
		.ofertas-tipo-contrato, .ofertas-jornada, .ofertas-salario {
			display:inline;
			padding-right:10px;
		}
		
		.ofertas-tipo-contrato, .ofertas-jornada {
			border-right:1px solid rgb(81,81,81);
		}
		
		.ofertas-jornada, .ofertas-salario {
			padding-left:10px;
		}
		
		
		
		/*----------------------------------------------------------------------------------------*/
		
		
	
		/*----------------------------------------------------------------------------------------*/
		/*SEGUIDORES DE LA OFERTA*/
		
		.ofertas-seguidores {
			width:150px;
			padding:14px 14px 13px 14px;
			position:relative;
			top:-13px;
			background: rgb(29,102,168);
			background-image: -webkit-linear-gradient(top, rgb(29,102,168), rgb(51,141,222));
			background-image: -moz-linear-gradient(top, rgb(29,102,168), rgb(51,141,222));
			background-image: -ms-linear-gradient(top, rgb(29,102,168), rgb(51,141,222));
			background-image: -o-linear-gradient(top, rgb(29,102,168), rgb(51,141,222));
			background-image: linear-gradient(to bottom, rgb(29,102,168), rgb(51,141,222));
		}
		
		.numero-seguidores {
			color: white;
			font-size: 12px;
			width:100%;
			text-align:center;
			position:relative;
		}
		
		.numero-seguidores, .ofertas-seguidores > img {
			display:block;
			position:relative;
			margin:auto;
		}
		
		.ofertas-seguidores > img {
			width:80px;
			height:80px;
		}
		
		
		
		/*----------------------------------------------------------------------------------------*/
	
	
	
		/*----------------------------------------------------------------------------------------*/
		/*REDES SOCIALES DE LA OFERTA*/
		
		.ofertas-edicion {
			width:18%;
			background-color:rgba(81,81,81,0.5);
			background-image: -webkit-linear-gradient(top, rgba(81,81,81,0.5), rgba(81,81,81,0.01));
			background-image: -moz-linear-gradient(top, rgba(81,81,81,0.5), rgba(81,81,81,0.01));
			background-image: -ms-linear-gradient(top, rgba(81,81,81,0.5), rgba(81,81,81,0.01));
			background-image: -o-linear-gradient(top, rgba(81,81,81,0.5), rgba(81,81,81,0.01));
			background-image: linear-gradient(to bottom, rgba(81,81,81,0.5), rgba(81,81,81,0.01));
			text-align:center;
			padding: 29px 0;
			margin:0;
			position:relative;
			top:-30px;
		}
		
		.edicion-icon, .eliminar-icon {
			padding:1px;
			margin:5px;
			width:45px;
			width:45px;
			border-radius: 50px;
			border:solid white 1px;

		}
		
		.edicion-icon:hover, .eliminar-icon:hover {
			-moz-box-shadow: 0 0 15px #ccc; 
			-webkit-box-shadow: 0 0 15px #ccc; 
			box-shadow: 0 0 15px #ccc; 
		}
		
		
		
		/*----------------------------------------------------------------------------------------*/
		

	/*----------------------------------------------------------------------------------------------------*/
	
	
	
	
	
	
	/*-------------------------------------------------------------------------------------------------------*/
	
	/*ESTILO DE LOS SEGUIDORES	*/
	
	#seguidores {
		min-height:600px;
		
		max-width:238px;
		position:relative;
		left:-2px;
		padding:10px;
		margin-left:15px;
		
		
	}
	
	#seguidores h5 {
		font-size:20px;
		text-align:center;
		padding:22px 0;
		text-transform: uppercase;
		color: rgb(81,81,81);
	}
	
	#seguidores ul {
		position:relative;
		height:100%;
		overflow:auto;
	}
	
	#seguidores li{
		border-top: solid 2px rgba(81,81,81,0.4);
		padding-top:5px;
		margin-bottom:5px;
		list-style:none;
	}
	
	img.seguidores-foto {
		width:50px;
		height:50px;
		border-radius:50px;
		border:inset 3px rgb(161,194,107) ;
	}
	
	.seguidores-foto, .seguidores-info {
		display:inline;
	}
	
	p.seguidores-info {
		font-size:14px;
		position:relative;
		top:-20px;
	}
	
	/*-------------------------------------------------------------------------------------------------------*/
	
	
	
	
	
	
	/*-------------------------------------------------------------------------------------------------------*/
	
	/*VISTA PREVIA*/
	#dialog {
		position:relative;
	}
	
	#dialog input.editar-oferta{
		width:75%;
		display:block;
		margin: 10px auto;
		font-size:14px;
		border-radius: 4px;
		border: none;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
		font-family: 'Ubuntu', sans-serif;	
		font-size: 12px;
		color: #222222;
		height: 28px;
		padding-left: 30px;
	}
	
	textarea.editar-oferta {
		width:75%;
		max-width:75%;
		min-width:75%;
		min-height:100px;
		display:block;
		margin: 10px auto;
		font-size:14px;
		border-radius: 4px;
		border: none;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
		font-family: 'Ubuntu', sans-serif;	
		font-size: 12px;
		color: #222222;
		height: 28px;
		padding:10px 0;
		padding-left: 30px;
	}
	
	
	#actualizar {
		width:120px;
		display:block;
		margin:20px auto;
		background: rgb(29,102,168);
		border-radius: 10px;
		color: #ffffff;
		font-size: 12px;
		border:solid 1px white;
		border-radius:2px;
		padding: 8px 15px 8px 15px;
		
	}
	
	#actualizar:hover {
		background: white;
		color: rgb(29,102,168);
		border:solid 1px rgb(29,102,168);
		
	}

	
	
	

	
	/*-------------------------------------------------------------------------------------------------------*/


	/*-----------------------------------------------------------------------------------------------*/
		
	/*AÑADIR NUEVA OFERTA*/
		
	input.añadir-oferta {
		width:120px;
		display:block;
		margin:30px;
		background: rgb(29,102,168);
		border-radius: 10px;
		color: #ffffff;
		font-size: 12px;
		border:solid 1px white;
		border-radius:2px;
		padding: 8px 15px 8px 15px;
	}
	
	input#añadir-oferta1 {
		float:right;
	}
	input#añadir-oferta2{
		position:relative;
		left:80%;
	}
	
	input.añadir-oferta:hover {
		background: white;
		color: rgb(29,102,168);
		border:solid 1px rgb(29,102,168);
		
	}
	
	#añadir{ /* Diseño del div que engloba la opcion de añadir nuevas ofertas de trabajo */
	    padding:6px;
		margin:10px;
		background-color:white;
		border-radius:4px;
		border:solid 1px rgb(29,102,168);
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
		
	}
	
	#añadir h2{ /*Titulo del registro para añadir*/
	    margin-top:20px;
	    font-size: 18px;
	    text-transform: uppercase;
	    color: rgb(35,81,133);
	    margin-bottom: 20px;
		text-align:center;
	}
	
	.nombre{ /*Poner en negrita todos los apartador del registro*/
	    font-weight: bold;
		font-size:14px;
	}
	
	.aster{ /*Poner los asteriscos de campo obligatorio en rojo y negrita*/
		font-weight: bolder;
		color:red;
	}
	
	#añadir > div {
		margin:10px;
	}
	
	#formul2, #formul3{
		display:inline-block;
	}
	
	#formul5, #formul6, #formul7{
		display:inline-block;
	}
	
	p[id=mens1], p[id=mens2], p[id=mens3], p[id=mens4], p[id=mens5], p[id=mens6], p[id=mens7]{/* Mensajes de alerta */
		border:solid 2px rgb(251,75,77);
		border-radius: 10px;
		padding:5px;
		text-align:center;
		width:200px;
		background-color:white;
		font-size:12px;
		color:rgb(251,75,77);
		position:relative;
		margin:10px;
	}
	input[id=añadir-titulo],input[id=añadir-empresa],input[id=añadir-lugar],input[id=añadir-contrato],
	input[id=añadir-jornada],input[id=añadir-salario]{
		font-size:12px;
		border-radius: 4px;
		margin:10px 0;
		border: none;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
		font-family: 'Ubuntu', sans-serif;	
		color: #222222;
		height: 28px;
		padding-left: 30px;
		width:200px;
	}
	
	textarea#añadir-descripcion{
		width:500px;
		max-width:600px;
		max-height:200px;
		font-size:12px;
		margin:10px 0;
		border-radius: 4px;
		border: none;
		overflow:auto;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
		font-family: 'Ubuntu', sans-serif;	
		color: #222222;
		height: 28px;
		padding:10px 0;
		padding-left: 30px;
	}
	
	input#añadirboton {
		width:120px;
		margin:10px auto;
		display:block;
		background: rgb(29,102,168);
		border-radius: 10px;
		color: #ffffff;
		font-size: 12px;
		border:solid 1px white;
		border-radius:2px;
		padding: 8px 15px 8px 15px;
	}
	
	input#añadirboton:hover {
		background: white;
		color: rgb(29,102,168);
		border:solid 1px rgb(29,102,168);
		
	}

	/*-----------------------------------------------------------------------------------------------*/










