	
	*{margin:0px; padding:0px;} 

	/*COLOR DE LOS LATERALES DE LA PAGINA*/
	
	/*VERDE rgb(161,194,107)*/
	/*AZUL rgb(29,102,168)*/
	/*azul claro : rgb(51,141,222)*/
	/*verde oscuro : rgb(140,168,93)*/
	/*dorado: rgb(227,197,25)*/
	/*azul flecha: rgb(126,162,243)*/
	/*azul facebook: rgb(91,112,165)*/
	/*azul twitter: rgb(65,160,220)*/
	/*rojo google: rgb(196,34,37)*/
	
	
	html{
		background:rgb(246,246,246);
	
	}
	
	body{
		font-family: 'Ubuntu', sans-serif;
		width:1200px;
		height:100%;
		margin:auto;
		border: 2px solid white;
	}    /* Color de fondo de la pagina */



	/*-----------------------------------------------------------------------------------------------------*/
	/*ESTRUCTURA DEL DOCUMENTO*/

	
	header{      /* Estilo de la cabecera, la cual engloba el logo, título y el inicio de sesión */
		background: rgb(161,194,107);
		background-image: -webkit-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -moz-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -ms-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: -o-linear-gradient(top, rgb(161,194,107), rgb(140,168,93));
		background-image: linear-gradient(to bottom, rgb(161,194,107), rgb(140,168,93));	
		padding:20px 40px 10px 40px;
		
	}
	
	nav{    /* Estilo del menú */
		
		padding:5px 40px 20px 0;
		margin-bottom:10px;
	}	
			
	section{  /* Estilo del cuerpo de la página */
		background:white;
		
	}
		
	footer{    /* Estilo del pie de página */
		background: rgb(29,102,168);
		text-align: center;
		font-size:12px;		
		padding:25px;
	}
	
	/*---------------------------------------------------------------------------------------------------*/
	
	
	

	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DE LA CABECERA*/
		
		header a {
			text-decoration:none;
		}
		
		header .cabecera, header .cabecera1 {
			display:inline;
		}
		
		header img {
			width:44px;
			height:63px;
		}
		
		header h1 {
			position:relative;
			color:white;
			padding:10px;
			top:-14px;
			font-size:50px;
		}
		
		header p {
			color:white;
			padding-left:25px;
			position:relative;
			top:-25px;
			left:200px;
		}
		
		header .cabecera1:hover {
			color:rgb(29,102,168) ;
			cursor:pointer;
		}
		
		header input {
			position:relative;
			top:-25px;
			left:300px;
			background: rgb(29,102,168);
			border-radius: 10px;
			color: #ffffff;
			font-size: 12px;
			border:solid 1px white;
			border-radius:2px;
			padding: 8px 15px 8px 15px;

			
		}
		
		header input:hover {
			color:rgb(29,102,168);
			background-color:white;
			border:solid 1px rgb(29,102,168);
			
			
		}
		
		
	
	/*---------------------------------------------------------------------------------------------------*/

	


	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DEL MENU*/

	section{  /* Estilo del cuerpo de la página */			
		bacakground:white;		
	}
	
	.error {
		color: red;
	}
	
	#fondo-indice  img{
		
		}
	
	#formulario {
		background-image: url("./../images/fondolearning.png");
		padding: 15% 0% 15% 0%;
	}
	
	#formulario-2 {
	width: 400px;
	padding: 20px 0;
	margin:auto;
	color:rgb(29,102,168);
			background-color:white;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
	}

	#password, #usuario{
		border-radius: 4px;
		border: none;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
		font-family: 'Ubuntu', sans-serif;	
		font-size: 12px;
		color: #222222;
		height: 28px;
		width: 250px;
		margin:10px 0;
		padding-left:10px;
	}

	
	.input-sesion {
		width:350px;
		margin:auto;
		padding:20px 0 10px 0;
	}
	
	.input-submit {
		width:80px;
		margin:auto;
	}
	
	#input-submit {
		background: rgb(29,102,168);
		border-radius: 10px;
		color: #ffffff;
		font-size: 12px;
		border:solid 1px white;
		border-radius:2px;
		padding: 8px 15px 8px 15px;
	}
	
	#input-submit:hover {
		color:rgb(29,102,168);
		background-color:white;
		border:solid 1px rgb(29,102,168);
	}
	
	#formulario p {
		text-align:center;
	}
	/*---------------------------------------------------------------------------------------------------*/




	/*---------------------------------------------------------------------------------------------------*/
	/*ESTILO DEL PIE DE PAGINA*/
	
	ul#pie li {  /* Pie de página horizontal */
		display: inline;
	}

	ul#pie li a:link, ul#pie li a:visited{  /* Color de los links del pie de página */
		color:white;
		padding-left:10px;	
	}
	
	ul#pie li a:hover {/* Color de los links del pie de página cuando pasas el cursor */
		color:rgb(227,197,25);	
	}

	/*---------------------------------------------------------------------------------------------------*/






	

	/*-----------------------------------------------------------------------------------------------*/
		
	/*ESTILO DE LAS REDES SOCIALES*/
		
		#redes-sociales {
			border-bottom:white solid 1px;
			border-top:white solid 1px;
			padding:20px 0;
				background:rgb(246,246,246);
			
		}
		
		#redes-sociales ul {
			text-align:center;
			list-style:none;
		}
		
		#redes-sociales ul li {
			display:inline-block;
			padding: 0 50px;
		}
		
		#redes-sociales h4 {
			margin-bottom:20px;
			font-size:25px;
			text-align:center;
			color:rgb(91,112,165);
		}
		
	
		
			/*azul facebook: rgb(91,112,165)*/
			/*azul twitter: rgb(65,160,220)*/
			/*rojo google: rgb(196,34,37)*/
		
		
		
	

	/*-----------------------------------------------------------------------------------------------*/










